
<p>
  <strong>Name:</strong>
  <%= @wall.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wall.description %>
</p>

<p>
  <strong>Background:</strong>
  <%= @wall.background %>
</p>
<% @wall.graphs.each do |graph| %>
<div>
  <% if graph.img %>
    <img src="<%= graph.img %>">
  <% end %>
  <% if graph.text %>
    <p><%= graph.text %></p>
  <% end %>
</div>
<% end %>

<nav class="creategraph">
  <div class="bottom-menu" onclick="wallEdit()">Edit</div>
  <div class="bottom-menu" onclick="createGraph()">Graph</div>
  <div class="bottom-menu" onclick="createSticker()">Sticker</div>
  <div class="sticker">
    <img onclick="insertSticker(this)" src="/sticker/Sticker_01.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_02.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_03.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_04.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_05.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_06.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_07.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_08.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_09.png" />
  </div>
</nav>
