
<p>
  <strong>Name:</strong>
  <%= @wall.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wall.description %>
</p>

<p>
  <strong>Background:</strong>
  <%= @wall.background %>
</p>
<div id="info">info to come ...</div>
<div id="graphs">
  <% @wall.graphs.each do |graph| %>
    <div class="graph" draggable="true" id="<%= graph.id %>">
    <% if graph.img %>
      <img src="<%= graph.img %>">
    <% end %>
    <% if graph.text %>
      <p><%= graph.text %></p>
    <% end %>
  </div>
  <% end %>
</div>

<nav class="creategraph">
  <div class="bottom-menu" onclick="wallEdit()"><img src="/picto_mur.png" ></div>
  <div class="bottom-menu" onclick="createGraph()"><img src="/picto_tag.png" ></div>
  <div class="bottom-menu" onclick="createSticker()"><img src="/picto_sticker.png" ></div>
  <div class="sticker">
    <img onclick="insertSticker(this)" src="/sticker/Sticker_01.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_02.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_03.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_04.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_05.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_06.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_07.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_08.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_09.png" />
  </div>
</nav>
